.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 200px;
}

.isComing {
  color: green;
}
.notComing {
  color: red;
}

th {
  background-color: #f4f4f4;
}

.delete {
  cursor: pointer;
}
