:root {
  --color-orchid-100: #143109;
  --color-orchid-200: #1c4211;
  --color-orchid-300: #255d1a;
  --color-orchid-400: #2e7833;
  --color-orchid-500: #388f4d;
  --color-orchid-600: #42a766;
  --color-orchid-700: #4ccf7f;

  --color-netral-100: #1b1b1b;
  --color-netral-200: #333333;
  --color-netral-300: #4d4d4d;
  --color-netral-400: #666666;
  --color-netral-500: #808080;
  --color-netral-600: #999999;
  --color-netral-700: #b3b3b3;
  --color-netral-800: #cccccc;
  --color-netral-900: #e6e6e6;
  --color-netral-1000: #f8f7f7;
}
